fastapi[standard]
uvicorn
redis

motor
pymongo
beanie
aio-pika

passlib
python-jose
argon2-cffi
python-dotenv
email-validator

python-multipart
pillow
python-dateutil

pytest
pytest-asyncio
pytest-cov
httpx